<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.status-items {
  display: flex;
}

.status-items>div {
  padding: 10px;
  margin-right: 10px;
  align-items: center;
}

.status-items:nth-child(even) { 
    background-color: lightgray; 
} 

.status {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 1%;
}

.type {
  width: 10%
}

.domain {
  width: 40%
}

.message {
  /*width: 50%*/
}

.true {background-color: lightgreen}
.false {background-color: pink}
</style>

<title>{{ .Title }}</title>

</head>
<body>

<h1> Last Run: {{ .TimeStamp }} </h1>

{{ range .Responses }}
  <div class="status-items">
    <div class="status {{ .Status }}"></div> 
    <div class="type">{{ .Type }}</div> 
    <div class="domain"> {{ .Domain }}</div> 
    <div class="message">{{ .Message }}</div> 
  </div>
{{ else }}
  Something went wrong
{{ end }}

</div>
</html>
